html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel="shortcut icon" type="image/png" href="/images/logo.png")
      
    title Admin
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css", rel="stylesheet")
  body
  
      
    section.hero.is-info
      .hero-body
        .container
          h1.title <a href="/admin">Admin</a>
          h2.subtitle Subtitle
          
    .container
      
      block content