form(action="/subscription/create" method="post")
  input(type="hidden" name="firstName" value="Test")
  input(type="hidden" name="lastName" value="Test")
  input(type="hidden" name="email" value="jaapbakker@gmail.com")
  input(type="hidden" name="identifier" value="001")
  input(type="submit" value="Lifetime Champion")

form(action="/subscription/create" method="post")
  input(type="hidden" name="firstName" value="Test")
  input(type="hidden" name="lastName" value="Test")
  input(type="hidden" name="email" value="jaapbakker@gmail.com")
  input(type="hidden" name="identifier" value="002")
  input(type="submit" value="Yearly Champion")
  
form(action="/subscription/create" method="post")
  input(type="hidden" name="firstName" value="Test")
  input(type="hidden" name="lastName" value="Test")
  input(type="hidden" name="email" value="jaapbakker@gmail.com")
  input(type="hidden" name="identifier" value="003")
  input(type="submit" value="Yearly Verified")
  
form(action="/subscription/create" method="post")
  input(type="hidden" name="firstName" value="Test")
  input(type="hidden" name="lastName" value="Test")
  input(type="hidden" name="email" value="jaapbakker@gmail.com")
  input(type="hidden" name="identifier" value="004")
  input(type="submit" value="3 Month Party Starter")

form(action="/subscription/create" method="post")
  input(type="hidden" name="firstName" value="Test")
  input(type="hidden" name="lastName" value="Test")
  input(type="hidden" name="email" value="jaapbakker@gmail.com")
  input(type="hidden" name="identifier" value="005")
  input(type="submit" value="6 Month Party Starter")

form(action="/subscription/create" method="post")
  input(type="hidden" name="firstName" value="Test")
  input(type="hidden" name="lastName" value="Test")
  input(type="hidden" name="email" value="jaapbakker@gmail.com")
  input(type="hidden" name="identifier" value="006")
  input(type="submit" value="12 Month Party Starter")